.App {
  padding: 20px;
  font-family: Arial, serif;
}

.Main {
  display: flex;
  flex-direction: column;
}

.Main h2 {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #000000;
}

.inputBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputBlock input,
.inputBlock textarea {
  border: 2px solid #000000;
  margin-bottom: 10px;
  margin-left: 30px;
  resize: none;
}

.inputBlock input {
  padding-right: 15px;
}

.inputBlock textarea {
  padding: 5px;
}

.btn {
  position: absolute;
  right: 515px;
  margin-bottom: 10px;
}

.btn button {
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;
}
